/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* app styles below */
html {
	background-color: #262728;
	color: white;
}

.img {
	display: block;
	max-width: 100%;
	margin: 0 auto;
  }

/* Login Styles */
h1 {
	font-size: 30px;
	font-weight: 900;
}
.link-container {
	display: inline-block;
	padding: 10px;
	background-color: black;
	border-radius: 10px;
}

.link-container:hover {
	background-color: #1DB954;
	color: black;
}

.login-link {
	text-decoration: none;
	color: white;
	font-size: 20px;
	font-weight: 700;
}

.login-container {
	position: absolute;
	top: 50%;
	transform: translateY(45%);
}

.login-page {
	position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.login-container div {
	margin: 10px;
}

/* Nav styles */
.nav-bar {
	position: relative;
	margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-image: linear-gradient(black, #666666);
}

.user-box {
	position: absolute;
	right: 0;
	margin-right: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	line-height: 1.5em;
}

.playback-box {
	position: absolute;
	left: 0;
	margin-left: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.playback-control {
	display: flex;
	justify-content: center;
	align-items: center;
}

.hideButton {
	display: none;
}

.showButton {
	margin: 0px 7px;
}

.showButton:hover {
	background-color: #1DB954;
	color: black;
	border-radius: 15px;
	padding: 5px;
}

.song-and-controls {
	height: 70px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-content: center;
}

.current-image {
	height: 75px;
	width: 75px;
	margin: 5px;
}

.playback-controls {
	display: flex;
	justify-content: center;
	align-items: center;
}

.button {
	color: white;
}

.logout {
	padding: 5px;
	max-width: 50px;
	text-align: center;
	background-color: black;
	border-radius: 10px;
	text-decoration: none;
	color: white;
}

.logout:hover {
	background-color: #1DB954;
	color: black;
}

/* dashboard styles */
.song-container {
	margin: 0 auto;
	max-width: 600px;
}

.dashboard-header {
	margin: 10px;
	font-size: 20px;
	font-weight: 700;
	text-align: center;
}

/* TopSong Styles */

.individual-song-container {
	display: flex;
	margin: 5px;
	justify-content: space-between;
	align-content: flex-start;
}

.song-img {
	height: 200px;
	width: 200px;
}

.song-info p {
	color: white;
	font-size: 16px;
}

.title p {
	font-weight: 900;
	font-size: 18px;
}

.song-info {
	display: flex;
	margin: 0 auto;
	flex-direction: column;
	align-content: flex-start;
	justify-content: center;
	text-align: left;
}

.functionality {
	display: flex;
	justify-content: center;
	align-items: center;
}

.similar, .features {
	width: 60px;
	background-color: #1DB954;
	padding: 5px;
	margin: 5px;
	border-radius: 10px;
}

@media screen and (max-width: 600px) {
	.individual-song-container {
		flex-direction: column-reverse;
		justify-content: center;
		align-items: center;
	}

	.song-info {
		margin: 5px;
	}

	.song-img {
		height: 150px;
		width: 150px;
	}
}

